[Unit]
Description=QuikAV virus database updater
Documentation=man:freshquik(1) man:freshquik.conf(5) http://www.quikav.net/lang/en/doc/
# If user wants it run from cron, don't start the daemon.
ConditionPathExists=!/etc/cron.d/quikav-freshquik

[Service]
ExecStart=/usr/local/bin/freshquik -d --foreground=true
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
